In [ ]:
import pandas as pd

# Sample data for Employee table
data = {
    'id': [1, 2, 3, 4],
    'name': ['Joe', 'Henry', 'Sam', 'Max'],
    'salary': [70000, 80000, 60000, 90000],
    'managerId': [3, 4, None, None]
}

# Create DataFrame
employee_df = pd.DataFrame(data)

employee_df['manager_salary'] = employee_df['managerId'].map(employee_df.set_index('id')['salary'])

for index, row in employee_df.iterrows():
    if row['salary'] > row['manager_salary']:
      print(row['name'])

Joe